<html>
    <head>
        <title>Hawaii's Weather API </title>
        <style>
            img { 
              width: 100%; 
            }
        </style>
    </head>
    <body>
        <h1> Surf's Up! Hawaii's Weather API</h1>

        <h4>    
            <li>
                List of stations: <a href= '/api/v1.0/stations'> Stations</a>
            </li>

            <br>
            <li>
                The precipitation records for the previous year: <a href= '/api/v1.0/precipitation'> Precipitation </a>
            </li>
            <br>

            <li>
                List of Temperature Observations (tobs) for the previous year: <a href= '/api/v1.0/tobs'> Last Year's Temperature records </a>
            </li>
            <br>

            <li>
                Minimum, Average and the Maximum temperatures for a start date (YYYY-MM-DD):
                    <a href="/api/v1.0/2016-08-24"> Temperature Records for a Date Range</a>
            </li>
            <br>

            <li>
                Minimum, Average and the Maximum temperatures for a start date (YYYY-MM-DD) and end date (YYYY-MM-DD):
                <a href="/api/v1.0/2016-08-24/2017-08-18"> Temperature Records for a Date Range</a>
            </li>
        </h4>
    </body>
</html>
